body {
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
}


header {
  background-color: lime;
  grid-area: head;
}

nav {
  background-color: lightblue;
  grid-area: nav;
}

main {
  background-color: yellow;
  grid-area: main;
}

footer {
  background-color: red;
  grid-area: foot;
}
