main {
  color: indigo;
  border: 1px dashed red;
  border-style: dotted;
}

tr {
  color: rgb(115, 147, 179);
  background-color: #FAD5A5;
}

table td {
    width: 30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

td { 
  background: green; 
  text-align: center; 
  vertical-align: middle;
}

td:nth-child(odd) {
  background: red;
}

th {
  text-align: left; 
  color: rgb(115, 147, 179);
  background-color: #FAD5A5;
  
}

caption {
  caption-side: bottom;
  color: #00A36C;
  background-color: #FAD5A5;
}
