table{
  width: 300px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  border: 5px dashed red;
  border-style: solid;
}

tr {
  color: rgb(115, 147, 179);
  background-color: #C8AA84;
}

td { 
  background: green; 
  text-align: center; 
  vertical-align: middle;
}

td:nth-child(odd) {
  background: red;
}

th {
  text-align: left; 
  color: rgb(115, 147, 179);
  background-color: #FAD5A5;
  
}

caption {
  caption-side: bottom;
  color: #00A36C;
  background-color: #5e99cf;
}
