main {
  color: indigo;
  border: 1px dashed red;
  border-style: dotted;
}

ul {
  color: rgb(115, 147, 179);
  background-color: #FAD5A5;
}

article {
  color: #00A36C;
}

nav {
  flex: 1 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: crimson;
  flex-flow: column;
  margin: 5px;
  font-size: 25px;
  line-height: 2;
}
